@model TSUBAKI.Models.ViewModel.UsersModel

@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <meta charset="utf-8">
    <link href="~/css/dashb.css" rel="stylesheet">
</head>
<body>
    <div class="welcomegreet">
        <h1>Welcome back, TodayIs_Wendy! [SAMPLE USER]</h1>
    </div>
    <div class="container">
        <div class="leftside">
                <div class="profilephoto">
                    <img id="pp" src="~/media/WendyID.jpg" alt="Account Image"/>
                </div>
                <div class="moredeets">
                    <h3>TodayIs_Wendy</h3>
                    <p id="role">Client</p>
                </div>
        </div>
        <div id="rightside">
            <div class="profdeets">
                <p id="field">NAME:</p> 
                <p id="input">Wendy Velvet</p>
                <p id="field">EMAIL:</p> 
                <p id="input">sonseungwan@redvelvet.sm.com</p>
                <p id="field">GENDER:</p> 
                <p id="input">F</p>
                <p id="field">ADDRESS:</p> 
                <p id="input">Block 20, Lot 14, August Village, Red Velvet, SM Town</p>
                <p id="field">CONTACT NUMBER:</p> 
                <p id="input">09208394893</p>
                <p id="field">BIRTHDAY:</p> 
                <p id="input">February 21, 1994</p>
            </div> 
        </div>
    </div>
</body>