body{
    background-image: url("/media/booking-bg.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
}

.contentwrapper{
    border:3px black solid;
    display: flex;
}

.calendar{
    border:3px red solid;
}

.formproper{
    border:3px blue solid;
}

.monthdaylist{
    border:3px greenyellow solid;
    display: flex;
}