.container{
    display: flex;
    justify-content: center;
    gap: 2vw;
    margin-top: 5vh;
}

div#rightside{
    background-color:aliceblue;
    width: 70vw;
    height: 115vh;
    padding: 5vh;
}

.leftside{
    background-color: lightpink;
    text-align: center;
    width: 25vw;
    height: 115vh;
    padding: 5vh;
}

p#field{
    font-size: 1.7vw;
}

p#input{
    font-size: 1.2vw;
    background-color: white;
    border: 1px darkcyan solid;
    padding: 0.5vw;
}

p#role{
    font-style:italic;
}

img#pp{
    width: 15vw;
    margin-top: 15vh;
    border-radius: 50%;
}

.moredeets{
    font-weight: bold;
    size: 2vw;
}

div#usercontainer{
    background-color: aliceblue;
    margin-top: 5vh;
}

h4#tabletitlepart{
    font-size: 2.3vw;
    margin-top: 5vh;
}

p#tabledescribe{
    font-size: 1.5vw;
}

