@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model TSUBAKI.Models.ViewModel.UserModel
@{
    ViewBag.Title = "SignUp";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = "~/Views/Shared/_BookingCSS.cshtml.css";
}

<body>
    <div class="information-placeholder">
        <p>This is where some addtional design for and information regarding booking will be placed.</p>
    </div>
    <div id="booking-pane">
        <div class="calendar-spot">
            <p>This is where we'll have an interactive/responsive calendar showing available dates and such</p>
        </div>
        <div class="booking-deets">
            <div id="booking-month">
                <label for="month">month</label>
                <select name="months" id="mo">
                    <option value="JAN">January</option>
                    <option value="FEB">February</option>
                    <option value="MAR">March</option>
                    <option value="APR">April</option>
                    <option value="MAY">May</option>
                    <option value="JUN">June</option>
                    <option value="JUL">July</option>
                    <option value="AUG">August</option>
                    <option value="SEP">September</option>
                    <option value="OCT">October</option>
                    <option value="NOV">November</option>
                    <option value="DEC">December</option>
                </select>
            </div>
            <div id="booking-day">
                <label for="days">day</label>
                <select name="days" id="da">
                    <option value="01">1</option>
                    <option value="02">2</option>
                    <option value="03">3</option>
                    <option value="04">4</option>
                    <option value="05">5</option>
                    <option value="06">6</option>
                    <option value="07">7</option>
                    <option value="08">8</option>
                    <option value="09">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                    <option value="23">23</option>
                    <option value="24">24</option>
                    <option value="25">25</option>
                    <option value="26">26</option>
                    <option value="27">27</option>
                    <option value="28">28</option>
                    <option value="29">29</option>
                    <option value="30">30</option>
                    <option value="31">31</option>
                </select>
            </div>
            <div id="booking-time">
                <label for="slot">appointment time</label>
                <select name="slot" id="ts">
                    <option value="slot1">9:30-11:30</option>
                    <option value="slot2">11:30-1:30</option>
                    <option value="slot3">2:30-4:30</option>
                </select>
            </div>
        </div>
    </div>
</body>